body {
    font-family: Arial, sans-serif;
}
a{
    text-decoration: none;
    text-align: center;
    margin: 1rem;
    font-size: .9rem;
    color: darkblue;
}
.sec1{
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-container textarea{
    margin-bottom: 1rem;

}

.review-container .textbox{
    padding-bottom: 2rem;

}

.bot_tex{
    text-align: center;
    font-size: .75rem;
    color: grey;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: .9rem;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #45a049;
}

#error-message {
    color: red;
    text-align: center;
}
